################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tracking-Api/.vs/CTT-PORTUGAL/v16/Server/sqlite3
